<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My EMarketing Website</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ContactUs.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SunMart", "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Category", "Index", "User")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Fixed Deposit Interest Calculator", "FDCalculator", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "ContactUs", "ContactUs")</li>
                    <li>
                        @if (Session["user_Sess_id"] != null)
                        {
                            @Html.ActionLink("Post Ad", "CreateAd", "User")
                        }
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        @if (Session["user_Sess_id"] == null)
                        {
                            @Html.ActionLink("Login", "Login", "User")
                        }
                    </li>
                    <li>
                        @if (Session["user_Sess_id"] == null)
                        {
                            @Html.ActionLink("Register", "SignUp", "User")
                        }
                        else
                        {
                            @Html.ActionLink("LogOut", "LogOut", "User")
                        }
                    </li>
                </ul>


            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright by SunCoder.</p>
        </footer>
    </div>
    
    
    @Scripts.Render("~/bundles/bootstrap")

    
    <!--OR-->
    @RenderSection("Validation", required: false)
</body>
</html>
