@model EmarketingApp.Models.AdViewModel
@{
    ViewBag.Title = "ViewAd";
}
<style>
    .astyle{
        background-color:tomato;
        border-radius:5px;
        color:#fff;
    }
</style>
<div class="row">
    <div class="col-lg-8 col-md-8">
        <div>
            <h1>@Model.pro_name <small>AD ID:@Model.pro_id</small></h1>
        </div>
        <img class="img-circle img-responsive" src="@Url.Content(Model.pro_image)" style="width:500px; height:300px;" />

        <div>
            <h1>Description: </h1>
            <p>@Model.pro_desc
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Mauris convallis, nibh nec gravida rhoncus, ipsum eros volutpat mauris.</p>
        </div>
        <div>
            <h4>Price: @Model.pro_price</h4>
        </div>
        <div>
            <h4>Category: @Model.cat_name</h4>
        </div>
        <div>
            <h4>Posted by : @Model.u_name <img src="@Url.Content(Model.u_image)" style="width:40px;height:40px;" /></h4>
        </div>
        <div>
            <h4>Contact : @Model.u_contact</h4>
        </div>
        <div>
            @if(Convert.ToInt32(Session["user_Sess_id"]) == Convert.ToInt32(Model.pro_fk_user))
            {
                
                @Html.ActionLink("Close this Ad", "DeleteAd", new {@class="btn btn-danger", id=Model.pro_id})
                @*<input type="submit" class="btn btn-danger" value="Close Ad" />*@
                

            }
        </div>
    </div>
</div>

